<div class="container">
  <div class="row">
    <div class="class row">
      <div class="col-md-9" style="text-align: right;"><hr /></div>
      <div class="col-md-3" style="text-align: right;">
        <button class="btn btn-primary" *ngIf="(loggedIn | async).valueOf()" (click)="onLogOut()">
          LogOut
        </button>
        <hr />
      </div>
    </div>
    <div class="class row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
